 .frame_1484578064 {
   margin-top: 2rem;
   padding: 1.25rem;
 }

 .frame_1484578064 p {
   font-weight: 400;
   font-size: 0.75rem;
   line-height: 1.05rem;
 }


 .frame_1484578065 {
   padding: 0.5rem 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .frame_1000001268 {
   margin-top: 1rem;
 }

 .frame_1000001268 p {
   display: flex;
   justify-content: center;
   align-items: center;
 }