.frame_1484578044 {
  margin-top: 1.5rem;
}

.frame_1484578044 picture img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.frame_1484578044 div p {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.05rem;
  text-align: initial;
}

.frame_1484578044 div p strong {
  font-weight: 700;
  font-size: 0.75rem;
}