.offer {
  margin-top: 1.5rem;
}

.offer p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.1rem;
  text-align: center;
}

.offer p>b {
  font-size: 1.5rem;
}

.image-product img {
  margin-top: 1.5rem;
}

.frame_1484578060 {
  width: 100%;
  height: auto;
  padding: 0;
  margin-top: 1.5rem;
}

.frame_13 {
  border: 1px solid;
  display: flex;
  flex-flow: row wrap;
}

.frame_13>picture {
  width: 5rem;
  height: 5rem;
  border-radius: 0.625rem;
}

.frame_12 {
  width: 68%;
  height: auto;
  margin: 0.6875rem 0 0.6785rem 0.5rem;
}

.frame_12 p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.225rem;
}

.frame_12 p>s {
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 0.85375rem;
}

.frame_12 p>b {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.225rem;
}

.stars {
  display: flex;
  flex-direction: row;
  margin-top: 0.625rem;
}

.stars>iconify-icon {
  font-size: 0.75rem;
}

.frame_193 {
  display: flex;
  align-items: center;
  margin-top: 0.625rem;
}

:is(.elipse_94, .elipse_95) {
  border-radius: 50%;
}

.elipse_94 {
  width: 0.75rem;
  height: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.elipse_95 {
  width: 0.375rem;
  height: 0.375rem;
}

.frame_193>p {
  margin-left: 1rem;
}